<ion-view title="好友列表">
  <form name="searchjidForm" novalidate>
    <ion-header-bar class="bar-assertive item-input-inset">
      <button class="button button-clear" ng-click="changeStatus()"> {{Status.name}} </button>
      <label class="item-input-wrapper">
        <!-- <i class="icon ion-person-add placeholder-icon"></i> -->
        <input type="search" required ng-model="jid" placeholder="请输入好友用户名">
      </label>
      <button class="button button-clear" ng-disabled="searchjidForm.$invalid" ng-click="add(jid)">
        <i class="icon ion-person-add light"></i>
      </button>
    </ion-header-bar>
  </form>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item item-avatar item-icon-left item-icon-right" ng-repeat="item in items">
        <img src="img/avatar.gif">
        <h2>{{item.name}}</h2>
        <p>{{item.subscribe}}</p>
        <p>{{item.status}}</p>
        <i ng-if="item.isRead===true||item.messages.length===0" class="icon ion-android-chat balanced" ui-sref="chats.communicating({ name: item.jid, title: item.name })"></i>
        <i ng-if="item.isRead===false&&item.messages.length>0" class="icon ion-email-unread energized" ui-sref="chats.communicating({ name: item.jid, title: item.name })"></i>
        <ion-option-button class="button-assertive" ng-click="remove(item.jid,item.name)">
          <i class="icon ion-close"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <button class="button button-clear" ng-click="out()">
      <i class="icon ion-log-out stable"></i>
    </button>
    <button class="button button-clear">
      <i class="icon ion-android-more-vertical energized"></i>
    </button>
  </ion-footer-bar>
</ion-view>
